*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

.navbar{
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0.5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav h4{
  font-size: 40px;
  color: #ffffff;
  z-index: 4;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin: 40px;
  
}

nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  z-index: 20;
}

.main {
  width: 1512px;
  height: 867px;
  border: rgb(0, 0, 0) solid;
}


.hero {
  width: 600px;
  height: 1500px;
  border: 1px solid #000;
  transform: rotate(25deg);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left top;
  margin-top: -400px;
  z-index: 2;
}

.hero img {
  width: 800px;
  height: 1010px;
  object-fit: cover;
  transform: rotate(-25deg);
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
  
}

.hero1 {
  width: 600px;
  height: 1500px;
  border: 1px solid #000;
  position: absolute;
  left: 500px;
  top:-300px;
  transform: rotate(25deg);
  transform-origin: top left;
  overflow: hidden;
  z-index: 3;
}

.hero1 img {
  position: absolute;
  width: 1000px;
  height: 1800px;
  transform: rotate(-25deg);
  top: -350px;
  left: -300px;
}

.hero2 {
  width: 600px;
  height: 1500px;
  border: 1px solid #000;
  position: absolute;
  left: 900px;
  top: -300px;
  transform: rotate(25deg);
  transform-origin: top left;
  overflow: hidden;
  z-index: 4;
}

.hero2 img {
  position: absolute;
  width: 1000px;
  height: 1800px;
  transform: rotate(-25deg);
  top: -300px;
  left: -280px;
}

.hero3 {
  z-index: 5;
  width: 600px;
  height: 1500px;
  border: 1px solid #000;
  position: absolute;
  left: 1300px;
  top: -300px;
  transform: rotate(25deg);
  transform-origin: top left;
  overflow: hidden;
}

.hero3 img {
  position: absolute;
  width: 1000px;
  height: 890px;
  transform: rotate(-25deg);
  top: 340px;
  left: -440px;
}

.hero4 {
  z-index: 6;
  width: 600px;
  height: 1500px;
  border: 1px solid #000;
  position: absolute;
  left: 1700px;
  top: -350px;
  transform: rotate(25deg);
  transform-origin: top left;
  overflow: hidden;
}

.hero4 img {
  position: absolute;
  width: 700px;
  height: 890px;
  transform: rotate(-25deg);
  top: 450px;
  left: -400px;
}

.hero, .hero1, .hero2, .hero3, .hero4 {
  overflow: hidden;
}

.hero-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero1 {
  transition: transform 0.6s ease;
}

.hero:hover ~ .hero1 {
  transform: translateX(100px) rotate(25deg);
}

.hero2 {
  transition: transform 0.6s ease;
}

.hero1:hover ~ .hero2 {
  transform: translateX(100px) rotate(25deg);
}

.hero3 {
  transition: transform 0.6s ease;
}

.hero2:hover ~ .hero3 {
  transform: translateX(100px) rotate(25deg);
}

.hero4 {
  transition: transform 0.6s ease;
}

.hero3:hover ~ .hero4 {
  transform: translateX(100px) rotate(25deg);
}



.hero {
  z-index: 2;
  pointer-events: auto;
}