*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

.navbar{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 30;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

nav{
  width: 100%;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav h4{
  font-size: 40px;
  color: #ffffff;
  z-index: 4;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin: 40px;
  
}

nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 21px;
  z-index: 20;
}

.main {
  width: 1512px;
  height: 867px;
  border: rgb(0, 0, 0) solid;
  position: relative;;
}


.hero {
  width: 600px;
  height: 1500px;
  /* border: 1px solid #000; */
  transform: rotate(25deg);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left top;
  margin-top: -400px;
  z-index: 2;
}

.hero img {
  width: 800px;
  height: 1010px;
  object-fit: cover;
  transform: rotate(-25deg);
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
  filter: grayscale(100%) brightness(60%);
  transition: 0.7s;
}

.hero1 {
  width: 500px;
  height: 1400px;
  /* border: 1px solid #000; */
  position: relative;
  left: 500px;
  top:-300px;
  transform: rotate(25deg);
  transform-origin: top left;
  overflow: hidden;
  z-index: 3;
}

.hero1 img {
  position: absolute;
  width: 1000px;
  height: 1800px;
  transform: rotate(-25deg);
  top: -350px;
  left: -300px;
  filter: grayscale(100%) brightness(60%);
  transition: 0.7s;
}

.hero2 {
  width: 600px;
  height: 1500px;
  /* border: 1px solid #000; */
  position: absolute;
  left: 900px;
  top: -300px;
  transform: rotate(25deg);
  transform-origin: top left;
  overflow: hidden;
  z-index: 4;
}

.hero2 img {
  position: absolute;
  width: 1000px;
  height: 1800px;
  transform: rotate(-25deg);
  top: -300px;
  left: -280px;
  filter: grayscale(100%) brightness(60%);
  transition: 0.7s;
}

.hero3 {
  z-index: 5;
  width: 600px;
  height: 1500px;
  /* border: 1px solid #000; */
  position: absolute;
  left: 1300px;
  top: -300px;
  transform: rotate(25deg);
  transform-origin: top left;
  overflow: hidden;
}

.hero3 img {
  position: absolute;
  width: 1000px;
  height: 890px;
  transform: rotate(-25deg);
  top: 340px;
  left: -440px;
  filter: grayscale(100%) brightness(60%);
  transition: 0.7s;
}

.hero4 {
  z-index: 6;
  width: 600px;
  height: 1500px;
  /* border: 1px solid #000; */
  position: absolute;
  left: 1700px;
  top: -350px;
  transform: rotate(25deg);
  transform-origin: top left;
  overflow: hidden;
}

.hero4 img {
  position: absolute;
  width: 700px;
  height: 890px;
  transform: rotate(-25deg);
  top: 450px;
  left: -400px;
  filter: grayscale(100%) brightness(60%);
  transition: 0.7s;
}

.hero, .hero1, .hero2, .hero3, .hero4 {
  overflow: hidden;
}


.hero-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero1 {
  transition: transform 0.6s ease;
}

.hero:hover ~ .hero1 {
  transform: translateX(100px) rotate(25deg);
}

.hero2 {
  transition: transform 0.6s ease;
}

.hero1:hover ~ .hero2 {
  transform: translateX(100px) rotate(25deg);
}

.hero3 {
  transition: transform 0.6s ease;
}

.hero2:hover ~ .hero3 {
  transform: translateX(100px) rotate(25deg);
}

.hero4 {
  transition: transform 0.6s ease;
}

.hero3:hover ~ .hero4{
  transform: translateX(100px) rotate(25deg);
}

.hero4:hover {
  transform: translateX(-100px) rotate(25deg);
  width: 900px;
}

.hero {
  z-index: 2;
  pointer-events: auto;
}

.release{
  z-index: 50;
  position: absolute;
  border: solid black 1px;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  width: 600px;
  height: 100px;
  opacity: 50%;
  transition: 0.7s;
}

.release .new{
  border: solid 1px #ffffff;
  background-color: white;
  color: black;
  width: 130px;
  /* margin-left: 200px; */
}

.release:hover{
  opacity: 80%;
}

.release .ness{
  border: solid 1px #ffffff;
  background-color: white;
  color: black;
  width: 60px;
}

.on {
  display: flex;
  flex-direction:column ;
}

.br{
  z-index: 60;
  position: absolute;
  border: solid 1px rgb(0, 0, 0);
  left: 910px;
  bottom: 0px;
  width: 600px;
  background-color: #000000;
  opacity: 0.5;
}

/* .hero img,
.hero1 img,
.hero2 img,
.hero3 img,
.hero4 img {
  filter: grayscale(100%) brightness(60%);
  transition: 0.7s;
} */

.hero:hover img,
.hero1:hover img,
.hero2:hover img,
.hero3:hover img,
.hero4:hover img {
  filter: none;
}

/* .hero:hover{
  display: block;
} */


/* .name{
  z-index: 100;
  background-color: none;
  top: 350px;
  position: absolute;
  opacity: 100%;
  left: 50px;
  height: 40px;
  width: 150px;
  font-size: 34px;
  opacity: 0;
  transition: 0.5s ease;
  color: #ffffff;
  border-bottom:1px white solid;
}

.hero:hover .name{
  opacity: 1;
} */

.name {
  position: absolute;
  bottom: -80px;
  left: 50px;
  transition: 0.5s ease;
  z-index: 50;
  display: flex;
  gap: 150px;
}

.name h3 {
  color: white;
  font-size: 40px;
  opacity: 0;
  transform: translateY(40px);
  transition: 2s ease;
}

.name .elden{
  color: rgb(0, 0, 0);
  font-size: 40px;
  opacity: 0;
  transform: translateY(40px);
  transition: 2s ease;
}
.name .blood{
  color: rgb(0, 0, 0);
  font-size: 40px;
  opacity: 0;
  transform: translateY(40px);
  transition: 2s ease;
  margin-left: 100px;
}
.name .dark{
  color: rgb(255, 255, 255);
  font-size: 40px;
  opacity: 0;
  transform: translateY(40px);
  transition: 2s ease;
}
.name .nit{
  color: rgb(255, 255, 255);
  font-size: 40px;
  opacity: 0;
  transform: translateY(40px);
  transition: 2s ease;
  /* margin-right: 30px; */
  padding-right: 100px;
}



.hello{
  border: red solid 3px;
  z-index: 1000;
  background-color: brown;
}