
nav{
  background-color: #000;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 8px 25px;
  border-radius: 15px;
  justify-content: space-between;
}

.left img{
  width: 40px;
}

.right ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.b_right {
  /* border: solid rgb(255, 0, 0) 3px; */
  color: rgb(255, 81, 0);
  height:50px;
  width: 250px; 
  border-radius: 20px;
  display: flex;
  gap: 25px;
}
.playnow{
  color: white;
  background-color: rgb(255, 81, 0);
  height: 50px;
  width: 130px;
  border: solid black 3px;
  border-radius: 20px;
  transition: 0.8s;
}

.playnow:hover{
  opacity: 0.5;
}
.playnow:active{
  scale: 0.9;
  opacity: 1.4;
}

.download{
  color: white;
  background-color: rgb(134, 113, 104);
  height: 50px;
  width: 130px;
  border: solid black 3px;
  border-radius: 20px;
  transition: 0.8s;
}

.download:hover{
  opacity: 0.5;
}
.download:active{
  scale: 0.9;
  opacity: 1.4;
}

.logo{
  width: px;

}

.hero{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("battle.jpg");
  height: 100vh;
  padding: 10px;
}

body{
  margin: 0;
}