*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #2324a2;
  align-items: center;
}

.box{
  position: relative;
  width: 380px;
  height: 420px;
  background-color: #1c1c1c;
  border-radius: 8px;
}

.box form{
  position:absolute;
  inset: 4px;;
  background-color: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;

}

.box form h2{
  color: #fff;
  font-weight: 500; 
  text-align: center;
  letter-spacing: 0.1em;
}

.box form .inputbox{
  position: relative;
  margin-top: 35px;
  width: 300px;
}

.box form .inputbox input{
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.box form .inputbox span{
  position: absolute;
  left:0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #8f8f8f;
  letter-spacing: 0.05em;
  transition: 0.5s;

}

.box form .inputbox input:valid ~ span
.box form .inputbox input:focus ~ span
{
  color: #fff;
  transform: 0.75em;
  transform: translateY(-34px);
}

.box form .inputbox i
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;

}

.box form .inputbox input:valid ~ i
.box form .inputbox input:focus ~ i
{
   height: 44px;   
}

.box form .links{
  display: flex;
  justify-content: space-between;
}

.box form .links a{
  margin: 10px 0;
  font-size: ;
}