*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #2324a2;
  align-items: center;
}

.box{
  position: relative;
  width: 380px;
  height: 420px;
  background-color: #1c1c1c;
  border-radius: 8px;
}

.box form{
  position:absolute;
  inset: 4px;;
  background-color: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;

}

.box form h2{
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.box form .inputbox{
  position: relative
  width: 300px;
  margin-top: 35px;
}

.box form .inputbox input{
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: #23242a;
}