*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
}

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  width: 100%;
  position: absolute;
  height: 70px;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  backdrop-filter: blur(12px);
  position:fixed;
  z-index: 1000;

}

img{
  width: 60px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}



nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
}

#navopt:hover{
  color:greenyellow;
  

}

.content{
  text-align: center;
}

.content h1{
  font-size: 160px;
  color:rgb(255, 255, 255);
  font-weight: 600;
  font-style: unset;
  text-decoration: double;
}

.content h1:hover{
  -webkit-text-stroke: 3px #ffffff;
  color: transparent;
  transition: 0.5s;
}

/* .content a{
  text-decoration: none;
  display: inline;
  color: rgb(244, 244, 244);
  font-size: 24px;
  border: solid 2px white;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;

} */

.hero video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.download{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 77, 0);
  height: 50px;
  width: 130px;
  border: solid rgb(229, 71, 14) 3px;
  border-radius: 20px;
  transition: 0.8s;
}

.download:hover{
  color: rgb(255, 77, 0);
  background-color: white;
  cursor: pointer;
}

.download:active{
  color: black;
  background-color: rgb(255, 77, 0);
  height: 40px;
  width: 100px;
}

.playnow{
  color: white;
  background-color:transparent;
  height: 50px;
  width: 230px;
  border: solid black 3px;
  border-radius: 20px;
  transition: 0.8s;
  
}

.playnow:hover{
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.playnow:active{
  height: 40px;
  width: 210px;
  opacity: 0.3;
}

.mid{
  border: solid 2px rgb(255, 0, 0);
  height: 400px;
  width: 100%;
  top: 200px;
}

.newsimg1{
  background-color: rgb(251, 0, 0);
  border: solid rgb(198, 0, 0);
  height: 414px;

}

.mid h2{
  background-color: red;
}

.newsimg1 img{
  z-index: -1;
  height: 200px;
  width: 410px;
}



.end{
  height: 600px;
  width: 100%;
  border: solid red;
}