*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: transparent;
}

.logo{
  color: rgb(199, 2, 2);
  font-size: 2em;
  user-select: none;
}

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  margin-left: 40px;
  font-family:sans-serif;
}

.navigation .loginpopup{
  width: 130px;
  height: 50px;
  background:transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 40px;
  background: transparent;

}

.navigation .loginpopup:hover{
  background: #000000;
  color: rgb(255, 255, 255);
  transition: 0.6sGIT;
}

.navigation a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  left: 0;
  bottom:-6px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after{
  transform: scaleX(1);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(soulsborne-mythology.avif);
}

.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: #000000;
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #000000;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border:none;
  outline: none;
  font-size: 600px;
  color: #000000;
    font-size: 1em;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #000000;
  line-height: 57px;
}


.remember-forgot{
  font-size: 0.9em;
  color: #000;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgor label input{
  accent-color: #000;
  margin-right: 3px;
}

.remember-forgot a {
  color:#000;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background-color: #ffa407;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
}

.login-register{
  font-size: .9em;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 20px 0 10px;
}

.login-register p a{
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
}


@media (max-width: 768px) {
  header {
    padding: 20px 50px;
  }

  .navigation a {
    margin-left: 20px;
    font-size: 1em;
  }

  .navigation .loginpopup {
    margin-left: 20px;
    width: 100px;
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  header {
    padding: 20px 20px;
    flex-direction: column; 
    align-items: center;
    background-color: rgba(0,0,0,0.8);
  }

  .logo {
    margin-bottom: 15px;
  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navigation a {
    margin: 5px 10px;
    font-size: 0.9em;
  }

  .navigation .loginpopup {
    margin-left: 10px;
    width: 90px;
    height: 40px;
    font-size: 0.9em;
    margin-top: 10px;
  }

  .wrapper {
    width: 90%;
    max-width: 400px;
    height: auto;
    min-height: 440px;
  }

  .input-box {
    width: 100%;
  }
}